.fixed-image {
  display: block;
  width: 50%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
  padding: 0 20px;

  h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
  }

  p {
    margin: 10px 0;
    line-height: 1.5;
    color: #666;
    white-space: pre-line;
  }
}
