.fixed-card ion-card-title {
  font-size: 12px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
